
/*Header*/
.navbar-gradient {
    background: linear-gradient(135deg, #005a25 0%, #005a25 100%);
}

.hero-section {
    background-image:url("Billeder/Hero 2.png");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 300px 0;
    height: 500px;
}
/*H1*/
H1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;

}

/*H2*/
H2 {
    text-align: center;
}
H3{
     text-align: center;

}

/*Event billede*/
img {
    width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;

}

/*Vores Event Boks*/
.event-box {
    width: 600px;
    max-width: 1400px;
    margin: 40px auto;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.event-box img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.event-content {
    padding: 25px;
    text-align: center;
}

.event-content h3 {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 5px;
}

.event-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.btn-read {
    display: inline-block;
    background: #960808;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-read:hover {
    background: #c82f2f;
}

/*Bok Aktiviteter og pakker*/
.box-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px 0;
}

.box {
    width: 300px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.box img {
    width: 130%;
    height: 350px;
    object-fit: cover;
}

.box h3 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.btn-read {
    display: inline-block;
    background: #960808;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-read:hover {
    background: #c82f2f;
}

/*Vores åbenningstider*/
 .opening-hours-box {
     
     max-width: 900px;
     
     margin: 60px auto;
     
     padding: 40px;
     
     background: #ffffff;
     
     border-radius: 20px;
     
     box-shadow: 0 10px 25px rgba(0,0,0,0.15);
     
     text-align: center;
     
 }

 .opening-hours-box h2 {
     
     font-size: 3rem;
     
     margin-bottom: 30px;
     
 }

 .hours-box {
     
     display: flex;
     
     justify-content: space-between;
     
     gap: 40px;
     
     margin-bottom: 30px;
     
 }

 .season h3 {
     
     font-size: 1.4rem;
     
     margin-bottom: 10px;
     
 }

 .season span {
     
     font-size: 0.9rem;
     
     color: #555;
     
 }

 .season ul {
     
     list-style: none;
     
     padding: 0;
     
     margin: 0;
     
     text-align: left;
     
 }
 .season li {
     
     margin-bottom: 8px;
     
     font-size: 1rem;
     
 }

 .contact-text {
     
     margin: 20px 0;
     
     font-size: 1rem;
     
 }
 .btn-contact {
     
     display: inline-block;
     
     background: #960808;
     
     color: #fff;
     
     padding: 12px 30px;
     
     border-radius: 5px;
     
     text-decoration: none;
     
     font-weight: bold;
     
 }

 .btn-contact:hover {
     
 }

 /*Vores kort gide*/
  
   .transport-box {
    max-width: 1100px;
    margin: 60px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}
    .transport-box h2 {
    font-size: 2.8rem;
    margin-bottom: 30px;
}

.transport-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.transport-text {
    flex: 1;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.6;
}

.transport-image {
    flex: 1;
}

.transport-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}
   /*Footer*/
  .footer {
      background-color: #005a25;
      padding: 40px 20px;
      margin-top: 60px;
  }

  .footer-inner {
      max-width: 1100px; /* matcher dit billede */
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
  }

  .footer-left p {
      margin: 4px 0;
      font-size: 1.1rem;
  object-position: center;
  }