
/*Header*/
.navbar-gradient {
    background: linear-gradient(135deg, #005a25 0%, #005a25 100%);
}

.hero-section {
    background-image:url("Billeder/Hero 2.png");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 250px 0;
}
/*H1*/
H1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;

}

/*H2*/
H2 {
    text-align: center;
}
H3{
     text-align: center;
}
/*Event billede*/
img {
    width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

/*Vores Event Boks*/
.event-box {
    width: 600px;
    max-width: 1400px auto;
    margin: 40px auto;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.event-box img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.event-content {
    padding: 25px;
    text-align: center;
}

.event-content h3 {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 5px;
}

.event-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.btn-read {
    display: inline-block;
    background: #960808;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-read:hover {
    background: #c82f2f;
}

/*Bok Aktiviteter og pakker*/
.box-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px 0;
}

.box {
    width: 300px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.box img {
    width: 130%;
    height: 350px;
    object-fit: cover;
}

.box h3 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.btn-read {
    display: inline-block;
    background: #960808;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-read:hover {
    background: #c82f2f;
}

